@import "tailwindcss";

@font-face {
  font-family: "MuseumClassic_L";
  src: url("./assets/fonts/국립박물관문화재단클래식L.woff") format("woff");
}

@font-face {
  font-family: "MuseumClassic_B";
  src: url("./assets/fonts/국립박물관문화재단클래식B.woff") format("woff");
}

@font-face {
  font-family: "GanwonEduAll_Bold";
  src: url("./assets/fonts/강원교육모두-Bold.woff") format("woff");
}

@font-face {
  font-family: "GanwonEduAll_Light";
  src: url("./assets/fonts/강원교육모두-Light.woff") format("woff");
}

@theme {
  --font-MuseumClassic_L: MuseumClassic_L;
  --font-MuseumClassic_B: MuseumClassic_B;
  --font-GanwonEduAll_Bold: GanwonEduAll_Bold;
  --font-GanwonEduAll_Light: GanwonEduAll_Light;
}

#toast-root,
div[data-sonner-toast],           /* sonner 라이브러리 사용 시 */
div[data-hot-toast],              /* react-hot-toast */
.react-hot-toast,                 /* 추가 안전망 */
.react-hot-toast__toast {         /* react-hot-toast 개별 토스트 */
  font-family: 'GanwonEduAll_Light', 'Pretendard', 'Noto Sans KR', sans-serif !important;
}