@import "tailwindcss";

@font-face {
  font-family: "MuseumClassic_L";
  src: url("./assets/fonts/국립박물관문화재단클래식L.woff") format("woff");
}

@font-face {
  font-family: "MuseumClassic_B";
  src: url("./assets/fonts/국립박물관문화재단클래식B.woff") format("woff");
}

@font-face {
  font-family: "GanwonEduAll_Bold";
  src: url("./assets/fonts/강원교육모두-Bold.woff") format("woff");
}

@font-face {
  font-family: "GanwonEduAll_Light";
  src: url("./assets/fonts/강원교육모두-Light.woff") format("woff");
}

@theme {
  --font-MuseumClassic_L: MuseumClassic_L;
  --font-MuseumClassic_B: MuseumClassic_B;
  --font-GanwonEduAll_Bold: GanwonEduAll_Bold;
  --font-GanwonEduAll_Light: GanwonEduAll_Light;
}
